<h1>Make an Account!</h1>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.submit %><br><br>
<% end %>


<%= link_to('Sign Up', signup_path) %> | <%= link_to('Log In', login_path) %>
