<div class="row">
  <div class="col-lg-4">
    <h1>Make an Account!</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <% if @user.errors.any? %>
    <%end%>
    <%= form_for @user do |f| %>
    <div class="form-group">
    <%= f.label "Username: " %>
    <%= f.text_field :name %><br>
  </div>
  <div class="form-group">
    <%= f.label "Password: " %>
    <%= f.password_field :password %><br>
  </div>
    <%= f.submit class:'btn btn-success'%><br><br>
    <% end %>
  </div>
</div>

