<h2>Edit character</h2>

<% if @character.errors.any? %>
  <% @character.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
  <br>
<% end %>

<%= form_tag character_path(@character), method: :put do %>
  <%= label_tag 'character[name]', 'Name:' %>
    <%= text_field_tag 'character[name]', @character.name %><br>
  <h3>Attributes:</h3>
  <h4>Each must be between 0-6, total cannot exceed 10!</h4>
  <%= label_tag 'character[commando]', 'Commando:' %>
    <%= text_field_tag 'character[commando]', @character.commando %><br>
  <%= label_tag 'character[hacker]', 'Hacker:' %>
    <%= text_field_tag 'character[hacker]', @character.hacker %><br>
  <%= label_tag 'character[witch]', 'Witch:' %>
    <%= text_field_tag 'character[witch]', @character.witch %><br>
  <h3>Skills:</h3>
  <%= label_tag 'character[skills][]', 'Skill 1:' %>
    <%= select_tag 'character[skills][]', options_from_collection_for_select(@skills, "id", "to_s", @character.skills[0].id) %><br>
  <%= label_tag 'character[skills][]', 'Skill 2:' %>
    <%= select_tag 'character[skills][]', options_from_collection_for_select(@skills, "id", "to_s", @character.skills[1].id) %><br>
  <%= label_tag 'character[skills][]', 'Skill 3:' %>
    <%= select_tag 'character[skills][]', options_from_collection_for_select(@skills, "id", "to_s", @character.skills[2].id) %><br>
  <h3>Talent:</h3>
  <%= select_tag 'character[talent]', options_from_collection_for_select(@talents, "id", "to_s", @character.talents[0].id) %><br>
  <br>
  <%= submit_tag %>
<% end %>
