<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>
        <%= @character.name %>
        <%= link_to "Enter Game", game_path(@character.game), class: 'btn btn-lg btn-warning spaceTop' %>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <h4>Attributes:</h4>
      <p>
        <b>Commando:</b> <%= @character.commando %> <br>
        <b>Hacker:</b> <%= @character.hacker %> <br>
        <b>Witch:</b> <%= @character.witch %> <br>
      </p>
      <p>
        <b>Health:</b> <%= @character.health %> <br>
        <b>Mana:</b> <%= @character.mana %> <br>
        <b>Luck:</b> <%= @character.luck %> <br>
      </p>
    </div>

    <div class="col-lg-4">
      <h4>Skills:</h4>
      <p>
        <% @character.skills.each do |skill| %>
          <p>
            <b><%= skill.name %></b> (<%= skill.character_attribute %>)<br><%= skill.description %>
          </p>
        <% end %>
      </p>
    </div>

    <div class="col-lg-4">
      <h4>Talents:</h4>
      <p>
        <% @character.talents.each do |talent| %>
          <p>
            <b><%= talent.name %></b><br><%= talent.description %>
          </p>
        <% end %>
      </p>

      <% if  @pokemon %>
        <p>
          You got a pokemon! It's name is...
        </p>
        <p>
          <%= @pokemon.name %>
          <img src="<%= @pokemon.img %>" alt="" />
        </p>
      <% end %>
    </div>

  </div>
  <div class="row">
    <% if @character.user_id == session[:user_id] %>
      <div class="col-lg-6">
      </div>
      <div class="col-lg-2">
        <%= link_to "Edit Character", edit_character_path(@character), class: 'btn btn-success' %>
      </div>
      <div class="col-lg-4">
        <%= link_to "Delete Character", character_path(@character), method: :delete, class: 'btn btn-danger' %>
      </div>
    <% end %>

  </div>
</div>

