<!DOCTYPE html>
<html>
  <head>
    <title>CharacterPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application/boot', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row  header-img">
        <div class="col-lg-6">
          <h1>Character Portfolio</h1>
        </div>

        <div class="col-lg-1 col-lg-offset-5 align-right">
          <a href="/pokemon"><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/great-ball.png" alt="easter egg" /></a>
        </div>
      </div>

      <div class="row  header-img">
        <ul class="nav nav-tabs">
          <% if session[:user_id] %>
            <li><%= link_to "Home", user_path(session[:user_id])  %></li>
            <li><%= link_to "All Games", games_path  %></li>
            <li><%= link_to "My Characters", characters_path %></li>
            <li><%= link_to "Logout", logout_path  %></li>
          <% else %>
            <li><%= link_to "Login", login_path  %></li>
            <li><%= link_to "Sign up", signup_path  %></li>
          <% end %>
        </ul>
      </div>

      <%= yield %>

    </div> <!--end .container-fluid-->
  </body>
</html>
